@*@page "/alquiler"

  
 <head> 

     <title>lista</title>

 </head>
 
    

 <html>

  <body>
    <header>
      <nav>
        <ul id="menu">
          <li><a href="">Inicio</a></li>
          <li><a href="">Cursos</a>
            <ul>
              <li><a href="">Frontend</a></li>
              <li><a href="">Backend</a></li>
              <li><a href="">Mobile</a></li>
            </ul>  
          </li>
          <li><a href="">Tutoriales</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
 


  
<html>
<head>
<style>
li {
  display: inline;
}
</style>
</head>
<body>



<ul>
  <li><a href= target="_blank">Inicio</a></li>
  <li><a href= target="_blank">Contacto</a></li>
  <li><a href= target="_blank">Acerca de</a></li>
</ul>

</body>
</html>



<style>
.container {
  background: orange;
  margin: 0 0 1rem;
  height: 10rem;
  display: flex;
  /* align-items por defecto tiene el valor `stretch` */
  align-items: start;
}
.center-h {
  justify-content: center;
}
.center-v {
  align-items: center;
}
.child {
  background: #60e0b0;
  padding: .2rem;
}
</style>

<div style="background-color:orange;color:black;padding:20px;">
  
        
      

<style>
h1 {
  text-shadow: 2px 2px 5px black;
}
</style>



<h1>!Alquiler por 2 pesos!!</h1>



      

      
<div class="container center-h center-v">
  <div class="alquiler">
       
<input placeholder="someting alquiler" @bind="newAlquiler" />
                         <button @onclick="addAlquiler">add alquiler</button>
      
  </div>
</div>
  </div>





<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 
 orange;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: orange;
}
</style>
</head>
<body>

 
  

    
</body>



     
<div class="container center-h center-v">
  <div class="alquiler">

      </div>
<ul>
 
            <li><a href="#">Categoria / Rubro</a></li>
            <li><a href="#">ubicacion</a></li>
            <li><a href="#">Precio</a></li>
            <li><a href="#">Contacto</a></li>
</ul>
  </div>
  

 

 <li><a href="https://www.google.com/"><strong>Google</strong></a></li>

<body>
    <h2>Productos más buscados</h2>

<img src="https://sendtech.cl/wp-content/uploads/2022/04/Estufa_0202010004N81I_kendal_1.jpg" style="width:300px">

<img src="https://arcencohogar.vtexassets.com/arquivos/ids/309322-800-800?v=637710529092700000&width=800&height=800&aspect=true" style="width:300px" >
<img src="https://www.bidcom.com.ar/publicacionesML/productos/CARPA02X/1000x1000-CARPA02A.jpg" style="width:300px" >
</body>

              
<h2>Productos más alquilados</h2>

<a href=""><img src="https://torquemarine.com.ar/wp-content/uploads/2018/01/bote-inflable-torque-marine-1.jpg" alt="HTML tutorial" style="width:200px;"></a>
<img src="https://http2.mlstatic.com/D_NQ_NP_859381-MLA43897221596_102020-O.webp" style="width:200px" >
<img src="https://http2.mlstatic.com/D_NQ_NP_662815-MLA32618384530_102019-O.webp" style="width:200px" >

                        
  
               
                                    

<ul>

    @foreach( var Alquiler in Alquileres)
    {

        <li>@Alquiler.Title</li>



    }

    

 

    
</ul>



@code {
    
    
}*@