@page "/registrarproducto"
@using Entidades





<EditForm>
   
     <h2 style="text-align:center">Registrar producto</h2>
        

        

        <label for="fname">Nombre del producto</label>
        <input type="text" @bind="film.NombreProducto" /><br /><br />
       
        
        <label for="fname">Precio del producto</label>
        <input type="text" @bind="film.PrecioProducto" /><br /><br />

       
        <label>Descripcion del producto</label>
        <input type="text" @bind="film.DetallesProducto" /><br /><br />

        
        <h6 style="text-align:right">imagenes del producto</h6>
        <input type="text" @bind="film.FotoProducto" /><br /><br />



 



   


</EditForm>

@code{
    

}
