@page "/registrarproducto"
@using Entidades





<EditForm Model="producto" OnSubmit="Enviar">
    <InputText id="nombre" @bind-Value="producto.NombreProducto"/>
   
    <button type="submit">Enviar</button>
    


 



   


</EditForm>

@code{
    private Producto producto { get; set; } = new Producto();


    private void Enviar()
    {
        string nombre = producto.NombreProducto;
    }

}
